<mat-list>
  <mat-list-item *ngFor="let question of questions">
    <img matListAvatar src="{{ question.iconUrl }}" alt="{{ question.url }}" />
    <h3 matLine>{{ question.description }}</h3>
    <p matLine>

    <button mat-raised-button color="primary" [routerLink]="['/questions', question.url]">
      VIEW
    </button>

    <button mat-mini-fab color="accent">
      <mat-icon class="add-question-btn" (click)="editQuestion(question)">edit</mat-icon>
    </button>

    <button mat-mini-fab color="warn">
      <mat-icon class="add-question-btn" (click)="onDeleteQuestion(question)">delete</mat-icon>
    </button>
    </p>
  </mat-list-item>
</mat-list>
