<mat-card
  *ngFor="let question of questions"
  class="question-card mat-elevation-z10"
>
  <mat-card-header>
    <mat-card-title>{{ question.description }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="question.iconUrl" />

  <mat-card-content>
    <p>{{ question.longDescription }}</p>
  </mat-card-content>

  <mat-card-actions class="question-actions">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/questions', question.url]"
    >
      VIEW
    </button>

    <button mat-mini-fab color="accent">
      <mat-icon class="add-question-btn" (click)="editQuestion(question)"
        >edit</mat-icon
      >
    </button>

    <button mat-mini-fab color="warn">
      <mat-icon class="add-question-btn" (click)="onDeleteQuestion(question)"
        >delete
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
