<div class="questions-panel">
  <div class="header">
    <h2 class="title">Poll Questions</h2>
  </div>

  <mat-tab-group>
    <mat-tab label="Unanswered">
      <button
        (click)="onAddQuestion()"
        class="create-question"
        mat-raised-button color="accent">
        Create Question
      </button>
      <question-list
        (questionChanged)="reload()"
        [questions]="unAnsweredQuestions$ | async"
      ></question-list>
    </mat-tab>

    <mat-tab label="Answered">
      <question-list
        (questionChanged)="reload()"
        [questions]="answeredQuestions$ | async"
      ></question-list>
    </mat-tab>
  </mat-tab-group>
</div>
