<div class="questions-panel">
  <div class="header">
    <h2 class="title">Poll Questions</h2>

    <button mat-mini-fab>
      <mat-icon class="add-course-btn" (click)="onAddQuestion()">add</mat-icon>
    </button>
  </div>


  <mat-tab-group>
    <mat-tab label="Unanswered">
      <question-list
        (questionChanged)="reload()"
        [questions]="unAnsweredQuestions$ | async"
      ></question-list>
    </mat-tab>

    <mat-tab label="Answered">
      <question-list
        (questionChanged)="reload()"
        [questions]="answeredQuestions$ | async"
      ></question-list>
    </mat-tab>
  </mat-tab-group>
</div>
