<!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
<mat-table [dataSource]="questions" class="mat-elevation-z8">
  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img [src]="getAvatarURL(element.author)" alt="User Avatar" class="avatar" />
      <!-- {{element.author}} -->
    </mat-cell>
  </ng-container>

  <!-- First Option Column -->
  <ng-container matColumnDef="firstOption">
    <mat-header-cell *matHeaderCellDef> First Option </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.optionOne.text }} </mat-cell>
  </ng-container>


  <!-- Or Column -->
  <ng-container matColumnDef="or">
    <mat-header-cell *matHeaderCellDef> OR </mat-header-cell>
    <mat-cell *matCellDef="let element"></mat-cell>
  </ng-container>

  <!-- Second Option Column -->
  <ng-container matColumnDef="secondOption">
    <mat-header-cell *matHeaderCellDef> Second Option </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.optionTwo.text }} </mat-cell>
  </ng-container>

  <!-- Timestamp Column -->
  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.timestamp | date: 'short'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="example-element-row" *matRowDef="let question; columns: displayedColumns;" (click)="editQuestion(question)"></mat-row>
</mat-table>
