>>> body {
  margin: 0;
}

main {
  margin: 30px;
}

.menu-button {
  background: rgba(255, 170, 0, 0.76);
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
.example-icon {
  padding-top: 0;
  padding-left: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}

.user-name {
  font-size: 10px;
  margin-top: -18px;
  margin-bottom: -10px
}

mat-icon {
  padding-right: 20px;
}
