<!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
<mat-table [dataSource]="users" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.name }}
    </mat-cell>
  </ng-container>

  <!-- Avatar Option Column -->
  <ng-container matColumnDef="avatarURL">
    <mat-header-cell *matHeaderCellDef> AvatarURL </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img [src]="element.avatarURL" alt="User Avatar" class="avatar" />
    </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="numberAsked">
    <mat-header-cell *matHeaderCellDef> Number Asked </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ getAsked(element) }}
    </mat-cell>
  </ng-container>

  <!-- Answers Option Column -->
  <ng-container matColumnDef="numberAnswered">
    <mat-header-cell *matHeaderCellDef> Number Answered </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ getAnswered(element) }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    class="example-element-row"
    *matRowDef="let user; columns: displayedColumns"
  ></mat-row>
</mat-table>
